In [239]:
#Importing Libraries
import pandas as pd
import re
import numpy as np

In [220]:
#Loading Dataset
df = pd.read_csv('/Users/saarth2712/Downloads/Uncleaned_DS_jobs.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              672 non-null    int64
 1   Job Title          672 non-null    object
 2   Salary Estimate    672 non-null    object
 3   Job Description    672 non-null    object
 4   Rating             672 non-null    float64
 5   Company Name       672 non-null    object
 6   Location           672 non-null    object
 7   Headquarters       672 non-null    object
 8   Size               672 non-null    object
 9   Founded            672 non-null    int64
 10  Type of ownership  672 non-null    object
 11  Industry           672 non-null    object
 12  Sector             672 non-null    object
 13  Revenue            672 non-null    object
 14  Competitors        672 non-null    object
dtypes: float64(1), int64(2), object(12)
memory usage: 78.9+ KB

In [221]:
#Cleaning
df.dropna
df.drop_duplicates()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,667,Data Scientist,$105K-$167K (Glassdoor est.),Summary\n\nWeâ€™re looking for a data scientist ...,3.6,TRANZACT\n3.6,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1
668,668,Data Scientist,$105K-$167K (Glassdoor est.),Job Description\nBecome a thought leader withi...,-1.0,JKGT,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1
669,669,Data Scientist,$105K-$167K (Glassdoor est.),Join a thriving company that is changing the w...,-1.0,AccessHope,"Irwindale, CA",-1,-1,-1,-1,-1,-1,-1,-1
670,670,Data Scientist,$105K-$167K (Glassdoor est.),100 Remote Opportunity As an AINLP Data Scient...,5.0,ChaTeck Incorporated\n5.0,"San Francisco, CA","Santa Clara, CA",1 to 50 employees,-1,Company - Private,Advertising & Marketing,Business Services,$1 to $5 million (USD),-1
671,671,Data Scientist,$105K-$167K (Glassdoor est.),Description\n\nThe Data Scientist will be part...,2.7,1-800-Flowers\n2.7,"New York, NY","Carle Place, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1

In [222]:
#Salary Estimate
df['Salary Estimate'].head()

0    $137K-$171K (Glassdoor est.)
1    $137K-$171K (Glassdoor est.)
2    $137K-$171K (Glassdoor est.)
3    $137K-$171K (Glassdoor est.)
4    $137K-$171K (Glassdoor est.)
Name: Salary Estimate, dtype: object

In [223]:
#Converting Salary Estimate to Integer
def convert_salary_estimate(salary) :
    salary = re.sub(r'[^0-9\-K]', '', salary) 
    
    if '-' in salary:
        min_salary, max_salary = salary.split('-')
        
        min_salary = int(min_salary.replace('K', '')) * 1000
        max_salary = int(max_salary.replace('K', '')) * 1000
        
        return (min_salary + max_salary) // 2

df['Average Salary'] = df['Salary Estimate'].apply(convert_salary_estimate)

In [224]:
df['Average Salary'].head()

0    154000
1    154000
2    154000
3    154000
4    154000
Name: Average Salary, dtype: int64

In [225]:
#Job Description
print(df['Job Description'].apply(type).unique())
df['Job Description'] = df['Job Description'].astype(str)
df['Job Description'].head()

[<class 'str'>]

0    Description\n\nThe Senior Data Scientist is re...
1    Secure our Nation, Ignite your Future\n\nJoin ...
2    Overview\n\n\nAnalysis Group is one of the lar...
3    JOB DESCRIPTION:\n\nDo you have a passion for ...
4    Data Scientist\nAffinity Solutions / Marketing...
Name: Job Description, dtype: object

In [226]:
#Cleaning Job Description
def clean_text(text):
    if isinstance(text, str):  # Ensure the value is a string
        # Remove extra newlines and convert them to a single space
        cleaned_text = text.replace("\n\n", " ").replace("\n", " ").strip()
        return cleaned_text
    return ""

df['Job Description'] = df['Job Description'].apply(clean_text)
df['Job Description']

0      Description The Senior Data Scientist is respo...
1      Secure our Nation, Ignite your Future Join the...
2      Overview  Analysis Group is one of the largest...
3      JOB DESCRIPTION: Do you have a passion for Dat...
4      Data Scientist Affinity Solutions / Marketing ...
                             ...
667    Summary Weâ€™re looking for a data scientist to ...
668    Job Description Become a thought leader within...
669    Join a thriving company that is changing the w...
670    100 Remote Opportunity As an AINLP Data Scient...
671    Description The Data Scientist will be part of...
Name: Job Description, Length: 672, dtype: object

In [227]:
#Company Name
df['Company Name']

0               Healthfirst\n3.1
1                   ManTech\n4.2
2            Analysis Group\n3.8
3                   INFICON\n3.5
4        Affinity Solutions\n2.9
                 ...
667                TRANZACT\n3.6
668                         JKGT
669                   AccessHope
670    ChaTeck Incorporated\n5.0
671           1-800-Flowers\n2.7
Name: Company Name, Length: 672, dtype: object

In [228]:
#Cleaning Company Name
df['Company Name'].dtype
def clean_company_name(name) :
    name = name.replace("\n", " ").strip()
    name = re.sub(r'[^a-zA-Z\s]', '', name)
    name = re.sub(r'\d+', '', name)
    name = name.strip()
    
    return name

df['Company Name'] = df['Company Name'].apply(clean_company_name)
df['Company Name']

0               Healthfirst
1                   ManTech
2            Analysis Group
3                   INFICON
4        Affinity Solutions
               ...
667                TRANZACT
668                    JKGT
669              AccessHope
670    ChaTeck Incorporated
671                 Flowers
Name: Company Name, Length: 672, dtype: object

In [229]:
#Dropping Negative Values
df = df[~df.select_dtypes(include=['number']).lt(0).any(axis=1)]
df

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Average Salary
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description The Senior Data Scientist is respo...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",154000
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future Join the...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,154000
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview Analysis Group is one of the largest...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,154000
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION: Do you have a passion for Dat...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",154000
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist Affinity Solutions / Marketing ...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",154000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
663,663,Data Scientist,$105K-$167K (Glassdoor est.),Job Description Education and Experience: At l...,4.1,ALine Staffing Solutions,"Durham, NC","Utica, MI",501 to 1000 employees,2004,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,-1,136000
665,665,Data Scientist,$105K-$167K (Glassdoor est.),Criterion Systems seeks a Data Scientist to su...,3.8,Criterion Systems Inc,"Vienna, VA","Vienna, VA",201 to 500 employees,2005,Company - Private,IT Services,Information Technology,$50 to $100 million (USD),-1,136000
666,666,Data Scientist,$105K-$167K (Glassdoor est.),About Foundation Medicine: Foundation Medicine...,4.0,Foundation Medicine,"Boston, MA","Cambridge, MA",1001 to 5000 employees,2010,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$100 to $500 million (USD),"Genomic Health, Myriad Genetics, The Broad Ins...",136000
667,667,Data Scientist,$105K-$167K (Glassdoor est.),Summary Weâ€™re looking for a data scientist to ...,3.6,TRANZACT,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1,136000
671,671,Data Scientist,$105K-$167K (Glassdoor est.),Description The Data Scientist will be part of...,2.7,Flowers,"New York, NY","Carle Place, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion (USD),-1,136000

In [230]:
#Competitors
df['Competitors']

0                EmblemHealth, UnitedHealth Group, Aetna
1                                                     -1
2                                                     -1
3      MKS Instruments, Pfeiffer Vacuum, Agilent Tech...
4                   Commerce Signals, Cardlytics, Yodlee
                             ...
663                                                   -1
665                                                   -1
666    Genomic Health, Myriad Genetics, The Broad Ins...
667                                                   -1
671                                                   -1
Name: Competitors, Length: 553, dtype: object

In [231]:
#Revenue
df['Revenue'] = df['Revenue'].str.replace(r'\s\(USD\)', '', regex=True)
df['Revenue']

0      Unknown / Non-Applicable
1              $1 to $2 billion
2          $100 to $500 million
3          $100 to $500 million
4      Unknown / Non-Applicable
                 ...
663    Unknown / Non-Applicable
665         $50 to $100 million
666        $100 to $500 million
667    Unknown / Non-Applicable
671            $1 to $2 billion
Name: Revenue, Length: 553, dtype: object

In [ ]:
#Competitors
df['Competitors'] = df['Competitors'].replace('-1', np.nan)
df['Competitors']

0                EmblemHealth, UnitedHealth Group, Aetna
1                                                    NaN
2                                                    NaN
3      MKS Instruments, Pfeiffer Vacuum, Agilent Tech...
4                   Commerce Signals, Cardlytics, Yodlee
                             ...
663                                                  NaN
665                                                  NaN
666    Genomic Health, Myriad Genetics, The Broad Ins...
667                                                  NaN
671                                                  NaN
Name: Competitors, Length: 553, dtype: object

In [236]:
#Creating State Column
df['State'] = df['Location'].str[-2:]
df

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,Average Salary,State
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description The Senior Data Scientist is respo...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",154000,NY
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future Join the...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion,-1,154000,VA
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview Analysis Group is one of the largest...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million,-1,154000,MA
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION: Do you have a passion for Dat...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million,"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",154000,MA
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist Affinity Solutions / Marketing ...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",154000,NY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
663,663,Data Scientist,$105K-$167K (Glassdoor est.),Job Description Education and Experience: At l...,4.1,ALine Staffing Solutions,"Durham, NC","Utica, MI",501 to 1000 employees,2004,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,-1,136000,NC
665,665,Data Scientist,$105K-$167K (Glassdoor est.),Criterion Systems seeks a Data Scientist to su...,3.8,Criterion Systems Inc,"Vienna, VA","Vienna, VA",201 to 500 employees,2005,Company - Private,IT Services,Information Technology,$50 to $100 million,-1,136000,VA
666,666,Data Scientist,$105K-$167K (Glassdoor est.),About Foundation Medicine: Foundation Medicine...,4.0,Foundation Medicine,"Boston, MA","Cambridge, MA",1001 to 5000 employees,2010,Company - Public,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$100 to $500 million,"Genomic Health, Myriad Genetics, The Broad Ins...",136000,MA
667,667,Data Scientist,$105K-$167K (Glassdoor est.),Summary Weâ€™re looking for a data scientist to ...,3.6,TRANZACT,"Fort Lee, NJ","Fort Lee, NJ",1001 to 5000 employees,1989,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,-1,136000,NJ
671,671,Data Scientist,$105K-$167K (Glassdoor est.),Description The Data Scientist will be part of...,2.7,Flowers,"New York, NY","Carle Place, NY",1001 to 5000 employees,1976,Company - Public,Wholesale,Business Services,$1 to $2 billion,-1,136000,NY